@import "bootstrap";


body {
    background-color: #fafafa;
}

.section {
    margin-bottom: 20px;
}

.stream-item {
    background-color: #fff;
    border-left-width: 5px;

    img {
        border: 1px solid #e7e7e7;
    }

    audio {
        display: none;
    }

    .progress {
        margin-top: 44px;
        height: 12px;
        cursor: pointer;
        margin-bottom: 0;
    }
}


